body{


  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;


}

.top-container{
  background-color: #EFFFFD;
  position: relative;
  padding: 150px;
}

.middle-container{
  margin: 100px 0;
}


.top-cloud{
  position: absolute;
    right: 300px;
    top: 70px;

}

.bottom-cloud{
  position: absolute;
  bottom: 240px;
  left: 300px;
}
.mountain{
  position: absolute;
  bottom: 0px;
  left: 400px;
}
h1{

  margin: 0px auto;
  margin-bottom: 150px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}
h2
{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #11999E;
}
h3
{
font-family: 'Montserrat', sans-serif;
color: #11999E;
font-size: 2rem;
}



.Para{
color: black;


}



.HWCPara{
    color:black;


}
.skill-row{
line-height: 2;
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}
.chillies{
  width: 150px;
  height: 155px;
  float: right;
  margin-left: 30px;



}
.comp{
width: 150px;
height: 155px;
float: left;
margin-right: 30px;
}

.contacts{
  background-color: #B8FFF9;


  height: 90px;


}
.pro{
  text-decoration: underline;
  width: 50px;
  color: #66BFBF;


}
.pdis{
  position: relative;
  bottom: 150px;
  color: #66BFBF;

}
.myimage{
  width: 150px;
  height: 150px;
}

.footer-link{

  margin-right: 20px;

  color: red;
  font-weight: bold;

}
a{

    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 40px;

}
a:hover{
  color: white;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 10px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  position: relative;
  top: 30px;

}
